@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Arbutus Slab", serif;
}

.logo {
  width: 140px;
  height: 40px;
}

.menu_logo {
  width: 26px;
}

#NavBar {
  position: fixed;
  z-index: 10;
}

.navbar {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.navItem {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.mainBox {
  background: linear-gradient(
      313.33deg,
      #f27a38 -7.28%,
      rgba(255, 255, 255, 0) 108.35%
    ),
    #ea507f;
  height: 100vh;
}

.img_footer {
  position: absolute;
  width: 100%;
  bottom: -1px;
}

.mainBoxText {
  width: 20rem;
  position: relative;
  top: 5rem;
  left: 2rem;
  font-size: 21px;
  color: white;
}
